
/* Error: expected "{".
 *    ,
 * 88 | $cont__padding__inln: 16;
 *    |                         ^
 *    '
 *   ..\partials\tools\_variables.scss 88:25  @forward
 *   ..\partials\tools\_index.scss 5:1        @use
 *   home.scss 1:1                            root stylesheet */


body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;

