/* --- root css --- */
:root {
  --font-size: 100%;
  --container: 1440px;
}

/* --- normalize css --- */
html {
  tab-size: 4;
  text-size-adjust: 100%;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  font-size: var(--font-size);
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: gray;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  appearance: none;
}

::-webkit-file-upload-button {
  appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
nav,
body,
form,
aside,
input,
header,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

/* --- typography --- */
@font-face {
  font-family: Karla;
  src: url("../assets/webfonts/Font-face/static/Karla-Regular.woff2") format("woff2"), url("../assets/webfonts/Font-face/static/Karla-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Karla;
  src: url("../assets/webfonts/Font-face/static/Karla-Bold.woff2") format("woff2"), url("../assets/webfonts/Font-face/static/Karla-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* --- general settings --- */
/* --- placeholders --- */
.container {
  margin-inline: auto;
}

.form__text {
  font-weight: 400;
}

.form__section--header h1, .form__submit {
  font-weight: 700;
}

.form__email-input, .form__message-textarea, .form__submit {
  width: 100%;
}

.form p, .form__name > .form__text, .form__email-input, .form__checkbox-group, .form__message-textarea {
  margin-bottom: 1em;
}

.form__name > .form__text, .form__email-input, .form__message-textarea, .form__submit {
  cursor: pointer;
}

.form__section, .form__text, .form__checkbox-group, .form__submit {
  border-radius: 7px;
}

.form__text, .form__checkbox-group {
  border: 1px solid hsl(186, 15%, 59%);
}

/* --- header --- */
/* --- home main --- */
.home {
  background-color: hsl(148, 38%, 91%);
  font-family: Karla;
  color: hsl(187, 24%, 22%);
}

.hide {
  clip-path: inset(50%);
  width: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  left: -9999px;
  white-space: nowrap;
}

.container {
  width: clamp(375px, 100%, 1440px);
  padding: 1em;
}

span {
  color: dodgerblue;
}

.form__section {
  padding: 1.5em;
  background-color: #fff;
}
.form__section--header h1 {
  font-size: 2rem;
  letter-spacing: -1px;
}

.form {
  margin-top: 2%;
}
.form__text {
  font-size: 1.125rem;
  line-height: 1.7;
  letter-spacing: 0;
  padding: 0.4444444444em 1em;
}
.form p {
  font-size: 1.125rem;
}
.form__name {
  display: flex;
  flex-direction: column;
}
.form__checkbox-group {
  padding: 1em;
}
.form__checkbox-group .form__checkbox-label {
  font-size: 1.375rem;
  margin-left: 0.7272727273em;
  left: 0.7272727273em;
}
.form__message-textarea {
  outline: none;
  height: clamp(10em, 30svh, 20em);
}
.form__submit {
  background-color: hsl(169, 82%, 27%);
  border: none;
  color: #fff;
  font-size: 1.125rem;
  padding-block: 0.8888888889em;
}

/* --- footer --- */
/* --- media queries --- */

/*# sourceMappingURL=home.css.map */
