@use "./variables" as *;
@use "./functions" as foo;
@use "./mixins" as mix;

/* --- placeholders --- */

%auto-margin {
  margin-inline: auto;
}

%position-relative {
  position: relative;
}

%position-absolute {
  position: absolute;
}

// --- font weights ---

%weight-400 {
  font-weight: 400;
}

%weight-700 {
  font-weight: 700;
}

%text-center {
  text-align: center;
}

// --- flex ---
%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%width-full {
  width: 100%;
}

%mb-min {
  margin-bottom: foo.em(9, 18);
}

%mb-mid {
  margin-bottom: foo.em(18, 18);
}

%cursor-pointer {
  cursor: pointer;
}

%border-7 {
  border-radius: 7px;
}

%border-1px {
  border: 1px solid $clr14;
}

%no-selection {
  user-select: none;
}

%flex-start {
  @include mix.flex(flex-start);
}

%checkbox-label {
  margin-left: foo.em(18, 22);
  cursor: pointer;
}

%font-size-input {
  font-size: $font-size-input;
}

%font-size-label {
  font-size: $font-size-label;
}

%font-size-label-p {
  font-size: $font-size-p;
}

%border-none {
  border: none;
}

%flex-1 {
  flex: 1;
}

%bck-img {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

%color-red {
  color: $clr13;
}

%background-darkgreen {
  background-color: $clr15;
}

%border-lightgreen {
  border-color: $clr12;
}

%trans-border{
  transition: .1s ease-in-out border-color;
}
