@use "../partials/tools" as *;
@use "../partials/assembler" as *;

/* --- home main --- */
.home {
  background-color: $clr-body;
  font-family: $font-karla, serif;
  color: $clr15;
}

.container {
  @include container($min-width, $max-width, 1em);
  @extend %auto-margin;
}

span {
  color: $clr16;
}

.form__section {
  @extend %border-7;

  padding: em(24, 16);
  background-color: $clr10;

  &--header h1 {
    @extend %weight-700;
    @extend %no-selection;

    font-size: rem(32);
    letter-spacing: -1px;
  }
}

// form
.form {
  margin-top: percentage(16 / 1089);

  &__text {
    @extend %weight-400;
    @extend %border-1px;
    @extend %border-7;
    @extend %font-size-input;

    line-height: 1.7;
    letter-spacing: 0;
    padding: em(8, 18) em(18, 18);
  }

  p {
    @extend %font-size-label-p;
  }

  &__info {
    @extend %mb-min;
    @extend %no-selection;
  }

  &__error {
    @extend %mb-min;
    @extend %no-selection;

    &[data-visible="false"] {
      color: transparent;
    }

    &[data-visible="true"] {
      color: $clr13;
    }
  }

  &__name,
  &__email {
    &-label {
      @extend %mb-min;
      @extend %no-selection;
      @extend %font-size-label-p;

      display: inline-block;
    }
    &-input {
      @extend %cursor-pointer;
      @extend %width-full;
    }
  }

  &__checkboxes {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    gap: 1em;
  }

  &__checkbox--type {
    @extend %border-7;
    @extend %border-1px;
    @extend %flex-start;
    @extend %no-selection;

    padding: 1em;

    &:has(&-input:checked) {
      background-color: $clr11;
    }

    &-label {
      @extend %checkbox-label;
      @extend %font-size-label;
    }

    &-input {
      @extend %cursor-pointer;

      border-radius: 50%;
      appearance: none;
      border: rgb(88 88 88 / 40%) 2px solid;
      width: 1.5em;
      height: 1.5em;

      &:checked {
        @extend %bck-img;
        @extend %border-none;

        background-image: url("#{$img-path}/icon-radio-selected.svg");
      }
    }
  }

  &__message {
    @extend %mb-mid;

    &-textarea {
      @extend %width-full;
      @extend %cursor-pointer;

      aspect-ratio: 1/1;
      outline: none;
    }
  }

  &__checkbox--consent {
    @extend %flex-start;
    @extend %no-selection;

    &-input {
      @extend %cursor-pointer;

      appearance: none;
      border: rgb(88 88 88 / 40%) 2px solid;
      width: 1.1em;
      height: 1.1em;

      &:checked {
        @extend %bck-img;
        @extend %border-none;

        background-image: url("#{$img-path}/icon-checkbox-check.svg");
      }
    }

    &-label {
      @extend %checkbox-label;
      @extend %font-size-input;
    }
  }

  &__submit {
    @extend %border-none;
    @extend %font-size-input;
    @extend %width-full;
    @extend %border-7;
    @extend %weight-700;
    @extend %cursor-pointer;

    background-color: $clr12;
    color: $clr10;
    padding-block: em(16, 18);
    transition: 0.2s ease-in-out background-color;

    &:hover {
      background-color: $clr15;
    }
  }
}
