@use "../partials/tools" as *;
@use "../partials/assembler" as *;

/* --- home main --- */
.home {
  background-color: $clr-body;
  font-family: $font-karla;
  color: $clr15;
}

.hide {
  @include black-hole;
}

.container {
  width: clamp($min-width, 100%, $max-width);
  padding: em(16, 16);
  @extend %auto-margin;
}

span {
  color: $clr16;
}

.form__section {
  padding: em(24, 16);
  background-color: $clr10;
  @extend %border-7;

  &--header h1 {
    font-size: rem(32);
    letter-spacing: -1px;
    @extend %weight-700;
  }
}

// form
.form {
  margin-top: 2%;

  &__text {
    font-size: $font-size-input;
    line-height: 1.7;
    letter-spacing: 0;
    @extend %weight-400;

    padding: em(8, 18) em(18, 18);
    @extend %border-1px;
    @extend %border-7;
  }

  p {
    font-size: $font-size-p;
    @extend %mb-16;
  }

  &__name {
    display: flex;
    flex-direction: column;

    & > .form__text {
      @extend %mb-16;
      @extend %cursor-pointer;
    }
  }

  &__email {
    &-input {
      @extend %mb-16;
      @extend %width-full;
      @extend %cursor-pointer;
    }
  }

  &__checkbox-group {
    @extend %border-7;
    @extend %border-1px;
    @extend %mb-16;
    padding: 1em;

    .form__checkbox-label {
      font-size: $font-size-label;
      margin-left: em(16, 22);
      left: em(16, 22);
    }
  }

  &__message {
    &-textarea {
      @extend %mb-16;
      @extend %width-full;
      @extend %cursor-pointer;
      outline: none;
      height: clamp(10em, 30svh, 20em);
    }
  }

  &__submit {
    background-color: $clr12;
    border: none;
    color: $clr10;
    font-size: $font-size-input;
    padding-block: em(16, 18);
    @extend %width-full;
    @extend %border-7;
    @extend %weight-700;
    @extend %cursor-pointer;
  }
}
