@use "../partials/tools" as *;
@use "../partials/assembler" as *;

/* --- home main --- */
.home {
  background-color: $clr-body;
  font-family: $font-karla;
  color: $clr15;
}

.hide {
  @include black-hole;
}

.container {
  width: clamp($min-width, 100%, $max-width);
  padding: em(16, 16);
  @extend %auto-margin;
}

span {
  color: $clr16;
}

.form__section {
  padding: em(32, 16);
  @extend %border-7;
  background-color: $clr10;

  &--header h1 {
    font-size: rem(32);
    @extend %weight-700;
    letter-spacing: -1px;
  }
}

// form
.form {
  margin-top: em(32, 16);

  &__text {
    font-size: $font-size-input;
    @extend %weight-400;
    line-height: 1.7;
    letter-spacing: 0;

    padding: em(8, 18) em(18, 18);
    @extend %border-7;
    border: 1px solid $clr14;
  }

  p {
    font-size: $font-size-p;
    @extend %mb-16;
  }

  &__name {
    display: flex;
    flex-direction: column;

    & > .form__text {
      @extend %mb-16;
      @extend %cursor-pointer;
    }
  }

  &__email {
    &-input {
      @extend %mb-16;
      @extend %width-full;
      @extend %cursor-pointer;
    }
  }

  &__message {
    &-textarea {
      @extend %mb-16;
      @extend %width-full;
      @extend %cursor-pointer;
    }
  }

  &__submit {
    @extend %width-full;
    background-color: $clr12;
    border: none;
    color: $clr10;
    font-size: $font-size-input;
    padding-block: em(16, 18);
    @extend %border-7;
    @extend %weight-700;
  }
}
